h1{
    color: #cbce12;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(250, 246, 230);
    padding: 50px;
    border: 10px double #cbce12;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}